In [8]:
loveseat_d= "Lovely Loveseat. Tufted polyester blend on wood. 32 inches high x 40 inches wide x 30 inches deep. Red or white."
loveseat_p = 254.00

stylish_settee_d = "Stylish Settee. Faux leather on birch. 29.50 inches high x 54.75 inches wide x 28 inches deep. Black."
stylish_settee_p = 180.50

luxurious_lamp_d = "Luxurious Lamp. Glass and iron. 36 inches tall. Brown with cream shade."
luxurious_lamp_p = 52.15


sales_tax = 0.088


customer_one_total = 0
customer_one_itemization = ""


customer_one_total +=loveseat_p
customer_one_itemization +=loveseat_d


customer_one_total += luxurious_lamp_p
customer_one_itemization += luxurious_lamp_d


customer_one_tax = customer_one_total * sales_tax
customer_one_total += customer_one_tax

print("Customer One Items:")
print(customer_one_itemization)
print("Customer One Total:")
print(customer_one_total)

Customer One Items:
Lovely Loveseat. Tufted polyester blend on wood. 32 inches high x 40 inches wide x 30 inches deep. Red or white.Luxurious Lamp. Glass and iron. 36 inches tall. Brown with cream shade.
Customer One Total:
333.09119999999996

In [9]:

subjects = ["physics", "calculus", "poetry", "history"]
grades = [98, 97, 85, 88]

gradelist = [
    [subjects[0], grades[0]],
    [subjects[1], grades[1]],
    [subjects[2], grades[2]],
    [subjects[3], grades[3]],
]

print("Initial gradelist:")
print(gradelist)

gradelist.append(["computer science", 100])
gradelist.append(["visual arts", 93])

print("\nAfter add two subjects:")
print(gradelist)

gradelist[-1][1] += 5

for course in gradelist:
    if course[0] == "poetry":
        course.remove(85) 
        course.append("Pass") 

print("\nAfter modifying visual arts and poetry:")
print(gradelist)

last_gradelist = [
    ["politics", 80],
    ["latin", 96],
    ["dance", 97],
    ["architecture", 65]
]

full_gradelist = last_gradelist + gradelist

print("\nFull Gradelist:")
print(full_gradelist)

Initial gradelist:
[['physics', 98], ['calculus', 97], ['poetry', 85], ['history', 88]]

After add two subjects:
[['physics', 98], ['calculus', 97], ['poetry', 85], ['history', 88], ['computer science', 100], ['visual arts', 93]]

After modifying visual arts and poetry:
[['physics', 98], ['calculus', 97], ['poetry', 'Pass'], ['history', 88], ['computer science', 100], ['visual arts', 98]]

Full Gradelist:
[['politics', 80], ['latin', 96], ['dance', 97], ['architecture', 65], ['physics', 98], ['calculus', 97], ['poetry', 'Pass'], ['history', 88], ['computer science', 100], ['visual arts', 98]]

In [10]:
hairstyles = ["bouffant", "pixie", "dreadlocks", "crew", "bowl", "bob", "mohawk", "flattop"]
prices = [30, 25, 40, 20, 20, 35, 50, 35]
last_week = [2, 3, 5, 8, 4, 4, 6, 2]

total = 0
for price in prices:
    total += price
average = total / len(prices)

new_prices = [price - 5 for price in prices]

revenue = 0 
for i in range(len(hairstyles)):
    revenue += prices[i] * last_week[i]

average_daily_revenue = revenue / 7

cuts_under_30 = [hairstyles[i] for i in range(len(new_prices)) if new_prices[i] < 30]

print(cuts_under_30)

['bouffant', 'pixie', 'crew', 'bowl']

In [14]:
def my_name():
    first_name = input("성을 입력하세요: ")
    month = int(input("태어난 달을 입력하세요: "))
    day = int(input("태어난 날짜을 입력하세요: "))

    middle_name = ['쌍', '쇠', '복', '돌', '팽', '육', '쌍', '개', '칠', '갑', '삼', '방']
    last_name = ['봉', '구', '욕', '포', '똥', '삼', '식', '석', '놈', '님',
                '년', '돌', '단', '득', '방', '질', '장', '걸', '래', '룡',
                '동', '순', '자', '박', '창', '언', '것', '포', '만', '단', '국']

    total_name = first_name + middle_name[month - 1] + last_name[day - 1]

    print(f"당신의 조선시대 이름은 {total_name} 입니다.")